<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Welcome to wenhan feng's homepage.
        Check out the <a href="{{'/notes' | relative_url}}"> portfolio </a>, <a href="{{'/post/cv' | relative_url}}"> cv </a> and <a href="{{'/post/blog' | relative_url}}"> blog</a>.
        <br> The graph below is my "interest tree", and my work focuses on these areas.
        {%- include webweb.html -%}
        <br> <font size=0.5> Graph visualization comes from webweb, GNU General Public License v3+. Website template comes from Hiran Venugopalan, License CC-BY. </font>
        </h3>
</div> </div>
