<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Welcome to wenhan feng's homepage.
        Check out the <a href="{{'/notes' | relative_url}}"> scientific research </a>, <a href="{{'/notes1' | relative_url}}"> planning and design </a>, <a href="{{'/notes2' | relative_url}}"> decision support tool </a>, <a href="{{'/post/features' | relative_url}}"> cv </a> and <a href="{{'/post/how-to' | relative_url}}"> blog</a>.
        </h3>
</div> </div>
